<div class="container">

    <header id="header" class="row">
      <div class="eight columns phone-two">
        <h2 id="site-title"><a href="/">Ember / Rails</a></h2>
      </div>
      <div class="four columns phone-two">
        <nav id="menu" role="navigation" class="hide-for-small">
          <ul id="mainNav" class="nav-bar">
            <li {{bindAttr class="isHome:active"}}>{{#linkTo 'index'}}Home{{/linkTo}}</li>
            <li {{bindAttr class="isUsers:active"}}>{{#linkTo 'users.index'}}Users{{/linkTo}}</li>
          </ul>
        </nav>
        <p class="show-for-small">
          <a class='sidebar-button button' id="sidebarButton" href="#sidebar" >Menu</a>
        </p>
      </div>
    </header>

    <div class="row">
      <section role="main">
        <div class="row">
          <div class="twelve columns">
            {{outlet}}
          </div>
        </div>
      </section>

      <section id="sidebar" role="complementary">
        <nav id="sideMenu" role="navigation">
          <ul id="sideMainNav" class="nav-bar">
            <li {{bindAttr class="isHome:active"}}>{{#linkTo 'index'}}Home{{/linkTo}}</li>
            <li {{bindAttr class="isUsers:active"}}>{{#linkTo 'users.index'}}Users{{/linkTo}}</li>
          </ul>
        </nav>
      </section>
    </div>
  </div>

  <script>
  ;(function (window, document, $) {
  // Set the negative margin on the top menu for slide-menu pages
  var $selector1 = $('#topMenu'),
    events = 'click.fndtn';
  if ($selector1.length > 0) $selector1.css("margin-top", $selector1.height() * -1);

  // Watch for clicks to show the sidebar
  var $selector2 = $('#sidebarButton');
  if ($selector2.length > 0) {
    $('#sidebarButton').on(events, function (e) {
      e.preventDefault();
      $('body').toggleClass('active');
    });
  }

  // Watch for clicks to show the menu for slide-menu pages
  var $selector3 = $('#menuButton');
  if ($selector3.length > 0)  {
    $('#menuButton').on(events, function (e) {
      e.preventDefault();
      $('body').toggleClass('active-menu');
    });
  }

  // // Adjust sidebars and sizes when resized
  // $(window).resize(function() {
  //   // if (!navigator.userAgent.match(/Android/i)) $('body').removeClass('active');
  //   var $selector4 = $('#topMenu');
  //   if ($selector4.length > 0) $selector4.css("margin-top", $selector4.height() * -1);
  // });

  // Switch panels for the paneled nav on mobile
  var $selector5 = $('#switchPanels');
  if ($selector5.length > 0)  {
    $('#switchPanels dd').on(events, function (e) {
      e.preventDefault();
      var switchToPanel = $(this).children('a').attr('href'),
          switchToIndex = $(switchToPanel).index();
      $(this).toggleClass('active').siblings().removeClass('active');
      $(switchToPanel).parent().css("left", (switchToIndex * (-100) + '%'));
    });
  }

  // $('nav li a').click( function (e) {
  //   e.preventDefault();
  //   var href = $(this).attr('href'),
  //     $target = $(href);
  //   $('html, body').animate({scrollTop : $target.offset().top}, 300);
  // });
}(this, document, jQuery));
</script>