<h3>{{headerTitle}} {{fullName}}</h3>
<form>
    <div>
      <label {{bindAttr for='firsNameField.elementId'}}>First Name</label>
      {{view Ember.TextField valueBinding='firstName' name='first_name' viewName='firstNameField'}}
    </div>
    <div>
      <label {{bindAttr for='lastNameField.elementId'}}>Last Name</label>
      {{view Ember.TextField valueBinding='lastName' name='last_mame' viewName='lastNameField'}}
    </div>
    <div>
      <label {{bindAttr for='quoteField.elementId'}}>Quote</label>
      {{view Ember.TextArea valueBinding='quote' name='quote' viewName='quoteField'}}
    </div>
</form>
<a href='#' {{action save}} class='button'>{{buttonTitle}}</a>
<br>
<br>
<a href='#' {{action cancel target='controller'}} class='secondary button'>Cancel</a>

